/* @media queries */
/* max width 1024px ipad  .article--1 p {
    line-height: 1.5em;
} */

@media screen and (max-width: 1036px) {
    .overlay-content {
        position: relative;
        top: 30%;
    }

    .overlay a {
        font-size: 30px;
    }

    .all--portfolio {
        width: 100%;
        justify-content: center;

    }

    .portfolio--box {
        width: 100%;
    }
}


@media screen and (max-width: 1025px) {

    .section::after,
    .section::before {
        display: none;
    }

}




/*****/

@media screen and (max-width: 900px) {
    .cover-all h1 {
        font-size: 100px;
    }

    .overlay {
        background-color: #74b9e8;
    }

    .about::before,
    .portfolio::before,
    .contact::before {
        top: 36%;
    }

    .works h2 {
        width: 50%;
    }

    .portfolio--box1 {
        width: 350px;
        height: 300px;
        top: 40%;
        left: 45%;
    }

    .portfolio--box1 h1 {
        margin-top: 50px;
        box-sizing: border-box;
    }


}

@media screen and (max-width: 809px) {

    .about:hover::before,
    .portfolio:hover::before,
    .contact:hover::before,
    .about:active::before,
    .portfolio:active::before,
    .contact:active::before {
        display: block;
        animation-play-state: paused;
    }

    .portfolio--box {
        height: 350px;
    }

    .ul--1 li {
        width: 20%;
    }

    .ul--1 li img {
        width: 100%;
    }

    .button button {
        width: 16vw;
    }

    .h1--tag {
        font-size: 18px;
    }

    .article--1 {
        font-size: 14px;
    }

    .overlay a {
        width: 100%;
        color: #fab131;
    }

    .about:hover,
    .portfolio:hover,
    .contact:hover {
        color: #fff;

    }
}


/* max width 600px phone */
@media screen and (max-width: 712px) {


    .button button {
        font-size: 14px;
    }

    .cover-all h1 {
        font-size: 80px;
    }

    .bitn {
        padding-top: 20px;
    }




}

@media screen and (max-width: 600px) {
    .works h2 {
        width: 100%;
    }

    .portfolio--box {
        height: 300px;
    }

    .overlay a {
        font-size: 20px;
    }
    .svgNum {
        width: 20vh;
        height: 15vh;
    }

     .over--lay1{
        display: none;
    }
    
    .over--lay2{
        width: 100%;
        
    } 
    
    .button button {
        width: 100%;
        font-size: 20px;
        border-color: #fff;
    }




}

@media screen and (max-width: 551px) {
    .cover-all span{
        font-size: 28px;
    }
    .logo-svg{
    width: 300px;
       
}
    .wrapper-bar {
        top: 20px;
    }

   




}

@media screen and (max-width: 498px) {
     .portfolio--box {
        height: 250px;
    }

    .weblink--site {
        width: 300px;
    }
    .cover-all span{
        font-size: 20px;
    }
    .section{
        width: 80%;
    }
    .cover-all h1 {
        font-size: 60px;
    }
}



@media screen and (max-width: 414px) {
.logo{
    padding: 0 ;
}
    .svgNum {
        width: 18vh;

    }
    .portfolio--box1 h1{
        margin-top: 60px;
        font-size: 40px;
    }
    
    .weblink--site{
        height: 80%;
        width: 70%;
        margin: 0 auto;
    }
    


}


@media screen and (max-width: 399px) {
    .box {
        width: 100px;
        height: 50px;
    }

    .cover h3 {
        font-size: 16px;
    }

    .section{
        width: 95%;
    }
    .cover-all h1 {
        font-size: 50px;
    }
    
    .overlay a, .works h2 {
        font-size: 16px;
    }


}



@media screen and (max-width: 320px) {
    .cover-all h1 {    
        font-size: 40px;

    }


}




